MONGODBURI = mongodb://127.0.0.1:27017
DB_NAME = expense-tracker

APP_PORT = 3010

COLLECTION_NAMES_USERS = expense-tracker-users
COLLECTION_NAMES_TRANSACTIONS = transactions
COLLECTION_NAMES_CATEGORIES = categories
COLLECTION_NAMES_BUSINESS = business

EVENT_NAMES_TRANSACTIONS_CREATED = transaction-created

JWT_SECRET = Abc@123

AUTH_TOKEN_HEADER_FIELD = token

PASSWORD_SALT = Abc@123

